<template>
  <div style="margin-top: 100px">
    <services />
  </div>
</template>
<script>
import services from '../module/sevices.vue'
export default {
  layout: 'main',
  components : {
    services
  },
  data(){
    return {
      
    }
  },

}
</script>