@font-face {
  font-family: 'poppins';
  src: url('~assets/fonts/Poppins-Regular.8081832.ttf') format('truetype');
} 

.navbar {
  font-family: 'poppins' !important;

  height: 100px;
  font-weight: bold !important;
  color: black;
} 

.navbar-brand {
  margin-left: 60px !important;
}


img {
  width: 210px;
}

.navbar-text {
  font-size: 16px;
  margin-left: 60px;
}

.btn {
  font-size: 19px;
  width: 120px;
}

.button {
  border-radius: 20px !important;
  color: #07294f !important;
  font-weight: bold !important;

}
.button:hover {
  background-color: #07294f;
  color: white !important;
}


.linkstore {
  width: 134px !important;
}

.appstore {
  width: 140px !important;
  margin-top: 5px;
  padding-bottom: 20px;
}
