$primary: #1565c0;
$secondary: #455a64;
@font-face {
  font-family: 'poppins';
  src: url('~assets/fonts/Poppins-Regular.8081832.ttf') format('truetype');
}
// Body
$font-family-sans-serif: "poppins";
$body-bg: rgba(250, 245, 255, 0.5);
$body-color:#272c33;

// Buttons
$btn-font-weight: 700;

// Headings
$headings-color: $primary;
$headings-font-weight: 700;

// Links
$link-decoration: underline dotted;
$link-hover-decoration: underline;