<template>
<div class="mx-auto">
  <div class="embed-responsive embed-responsive-16by9 ">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=8RRrSnXdIis" allowfullscreen></iframe>
  </div>
</div>
</template>
<script>
export default {
  name: 'embedcomponent'
}
</script>