<template>
  <div>
    <h1 class="">{{ title }}</h1>
    <p class="fs-4">{{ body }}</p> 
  </div>
</template>
<script>
export default {
  name: 'featurescomponent',
  props:['title', 'body']
}
</script>
