<template>
<div >
  <!-- Footer -->
  <footer class="text-center text-lg-start text-dark" style="background-color: #F7F5F9;"
          >
    <!-- Grid container -->
    <div class="p-5 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 text-left">
            <img src="~/assets/logo/logo-bp-home.png" class="pb-4">
            <h3 class="mb-4">
              <i icon="bi bi-envelope-fill"></i>
              Contact us
            </h3>
            <h4 class="mb-4 fw-lighter">
              Hello@blast.com
            </h4>
            <h4 class="mb-4 fw-lighter">
              (021) - 771122
            </h4>
            <h4 class="mb-4 fw-lighter">
              Batam, Kec. Batam, Batam, Batam 24182
            </h4>
            
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 text-left">
            <h4>
              <a class="text-dark fw-lighter">Hello</a>
            </h4>
            <h4>
              <a class="text-dark fw-lighter">Hello</a>
            </h4>
            <h4>
              <a class="text-dark fw-lighter">Hello</a>
            </h4>
            <h4>
              <a class="text-dark fw-lighter">Hello</a>
            </h4>
            <h4>
              <a class="text-dark fw-lighter">Hello</a>
            </h4>
            <h4>
              <a class="text-dark fw-lighter">Hello</a>
            </h4>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 text-left">
            <h4>
              <a class="text-dark fw-lighter">Hello</a>
            </h4>
            <h4>
              <a class="text-dark fw-lighter">Hello</a>
            </h4>
            <h4>
              <a class="text-dark fw-lighter">Hello</a>
            </h4>
            <h4>
              <a class="text-dark fw-lighter">Hello</a>
            </h4>
          </div>
          <!-- Grid column -->

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 text-left">
            <h4 class="font-weight-bold text-left">Download</h4>
              <div class="row">
                <a class="col-sm-6" href="/">
                  <img src="~/assets/logo/ps.687078e.png" class="linkstore p-3 mt-3">
                </a>
                <a class="col-sm-6">
                  <img src="~/assets/logo/ap.605868f.png" class="appstore p-4 ">
                </a>
              </div>
              <h4 class="font-weight-bold text-left mb-5">Follow us</h4>
              <div class="row">
              </div>
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3">© 2020 BP BATAM
      <a class="text-dark text-decoration-none">All rights reserved</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
</template>