<template>
  <nav class="navbar navbar-light head">
    <div class="container">
      <a class="navbar-brand fs-1 text-light" href="#">{{name}}</a>
    </div>
  </nav>
</template>
<script>
export default {
  name: 'headcomponent',
  props: ['name']
}
</script>
<style>
.head {
  background-color: #07294f !important;
  height: 200px !important;
}
</style>