<template>
  <div>
    <div class="container" style="padding: 200px">
        <h1>{{ title }}</h1>
        <p class="fs-3">{{ body }}</p>
      </div>
  </div>
</template>
<script>
export default {
  name: 'headaboutcomponent',
  props: ['title', 'body']
}
</script>