<template>
  <div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white shadow " >
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="~/assets/logo/logo-bp-home.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex navbar-text gap-3" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item p-2">
                <a class="nav-link text-decoration-none" href="/">Beranda</a>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link" href="/services">Layanan</a>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link" href="/about-us">Tentang kami</a>
              </li>
          </ul>
        </div>
        <div class="ms-auto">
            <button type="button" class="btn btn-lg">Login</button>
            <button type="button" class="button btn shadow rounded">Daftar</button>
        </div>
      </div>
    </nav>
  </div>
</template>
<script>

export default {
  name: 'HeaderComponent',
  scrollToTop: true
  // mounted() {
  //   this.$nextTick(function () {
  //     window.addEventListener("scroll", function() {
  //       var navbar = document.getElementsByName("navbar");
  //       var nav_classes = navbar.classList;
  //       if(document.documentElement.scrollTop >= 10) {
  //         if(nav_classes.contains("shrink") === false) {
  //           nav_classes.toggle("shrink");
  //         }
  //       } else {
  //         if (nav_classes.contains("shrink") === true) {
  //           nav_classes.toggle("shrink");
  //         }
  //       }
  //     })
  //   })
  // }
}
</script>