@font-face {
  font-family: 'poppins';
  src: url('~assets/fonts/Poppins-Regular.8081832.ttf') format('truetype');
}
* {
  font-family: 'poppins';
  
}
.navbar {
  height: 100px;
  font-weight: bold !important;
  color: black;
}

img {
  width: 210px
}

.navbar-text {
  font-size: 16px;
  margin-left: 60px;
}

.btn {
  font-size: 16px;
  width: 100px;
}

.button {
  border-radius: 20px !important;
}
.button:hover {
  background-color: #07294f;
  color: white;
}
