<template>
  <div>
      <head-component style="margin-top:100px " name="Tentang kami"/>
      <head-about-component :title="head.title" :body="head.body"/>
      <div class="container">
        <div class="row">
          <div class="card rounded-3 col-10" style="width: 700px; ">
            <div class="list-group-item bg-warning text-start" v-for="val in features" :key="val">
              <features-component :title="val.title" :body="val.body"/>
            </div>
          </div>
          
          <div class="col-2 mx-auto">
            <img src="~/assets/logo/bird.svg" style="width:400px">
          </div>
        </div>
  </div>
  </div>
</template>
<script>
import HeadComponent from '~/components/HeadComponent.vue'
import EmbedComponent from '~/components/EmbedComponent.vue'
import HeadAboutComponent from '~/components/HeadAboutComponent.vue'
import FeaturesComponent from '~/components/FeaturesComponent.vue'


export default {
  components: { HeadComponent, EmbedComponent, HeadAboutComponent, FeaturesComponent },
  layout: 'main',
  data () {
    return {
      head: {
        title: 'Apa itu B-fast ?',
        body: 'Aplikasi Digital untuk mendukung Proses Bisnis pada Badan Usaha Fasilitas dan Lingkungan dari BP Batam Aplikasi Digital untuk mendukung Proses Bisnis pada Badan Usaha Fasilitas dan Lingkungan dari BP Batam Aplikasi Digital untuk mendukung Proses Bisnis pada Badan Usaha Fasilitas dan Lingkungan dari BP Batam Aplikasi Digital untuk mendukung Proses Bisnis pada Badan Usaha Fasilitas dan Lingkungan dari BP Batam Aplikasi Digital untuk mendukung Proses Bisnis pada Badan Usaha Fasilitas dan Lingkungan dari BP Batam'
      },
      features: [
        { 
          title: 'Fasilitas Terbaik di Kota Batam',
          body: 'Kami Menyediakan beberapa fasilitas terbaik dikota batam yang kalian bisa nikmati'
        },
        { 
          title: 'Mudah dan Cepat',
          body: 'Proses yang sangat cepat dan mudah'
        },
        { 
          title: 'Tidak Butuh Tambahan Aplikasi',
          body: 'Hanya dengan B-Fast anda dapat melakukan semuanya'
        },
        { 
          title: 'Pembayaran Mudah',
          body: 'Bayar dengan virtual akun dan e - wallet favorit anda'
        }
      ]
    }
  }
}
</script>

<style>

</style>
