<template>
  <div>
    <header-component/>
    <nuxt/>
    <footer-component/>
  </div>
</template>
<script>
import HeaderComponent from '~/components/HeaderComponent.vue'
import FooterComponent from '~/components/FooterComponent.vue'
export default {
  scrollToTop: false,
  components: {
    HeaderComponent,
    FooterComponent
  }
}
</script>