<template>
<div>
  <caraousel/>
  <div class="position-relative">
    <div class="position-absolute" data-tor="place.bottom place.center shift.down(100%)">
      <div class="row">
        <div class="col">
          <div class="mt-5">
            <div class="container">
              <h1 class="fs-1">Layanan Kami</h1>
              <h4>Kami memiliki layanan yang siap memenuhi kebutuhan anda</h4>
            </div>
            <services />
          </div>
        </div>
      </div>
    </div>
    <img src="~/assets/img/abstrak-bg.svg" style="width:1500px; margin-top:700px;">    
  </div>
  <caraousel2 />
  <div class="position-relative">
    <div class="position-absolute" data-tor="place.bottom place.center shift.down(100%)">
      <div class="row">
        <div class="col">
          <div class="mt-5">
            <div class="container" style="margin:100px">
              <h1 class="fs-1">Blog</h1>
              <h4>Kami menyediakan beberapa informasi yang mungkin kalian sukai dan butuhkan
                <a href="/blog">Lebuh banyak</a>
              </h4>
            </div>

          </div>
        </div>
      </div>
    </div>
    <img src="~/assets/img/abstrak-bg.svg" style="width:1500px; margin-top:700px;">    
  </div>
</div>
</template>

<script>
import services from './module/sevices.vue';
import caraousel from './module/caraousel.vue';
import caraousel2 from './module/caraousel-2.vue';
import caraousel3 from './module/caraousel-3.vue';
export default {
  layout: 'main',
  components:{
    services,
    caraousel,
    caraousel2,
    caraousel3,
  },
  data() {
    return {
    
    }
  }

}
</script>