<template>
  <div id="carouselExampleDark" class="carousel carousel-primary slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="~/assets/img/slide_0.png" class="d-block w-100">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="~/assets/img/slide_1.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item" data-br-interval="2000">
        <img src="~/assets/img/slide_3.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item" data-br-interval="2000">
        <img src="~/assets/img/slide_4.png" class="d-block w-100">
      </div>
      <div class="carousel-item" data-br-interval="2000">
        <img src="~/assets/img/sliders_4.png" class="d-block w-100">
      </div>
      <div class="carousel-item" data-br-interval="2000">
        <img src="~/assets/img/sliders_4.png" class="d-block w-100">
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'caraousel'
}
</script>