<template>
  <div class="container-fluid"  style="margin-top: 100px">
    <div class="row">
      <div class="col-sm-4 gy-4"  v-for="service in services" :key="service">
        <div class="card shadow mx-auto" style="width: 350px; height: 350px; ">
          <div class="card-body d-grid gap-3 text-center">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning fs-5" style="width:150px; height:30px">
              {{service.serviceTag}}
            </span>
            <div class="col-md-12 mx-auto rounded" style="width:120px; height:120px; background-color:#07294f;"></div>
            <h5 class="card-title mt-5">{{ service.title }}</h5>
            <p class="card-text mb-5 fs-5">{{ service.body }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'services',
  data() {
    return {
      services: [
        { title: 'Hello', serviceTag:'Layanan baru', body: 'Butuh hunian ? Kami menyediakan beberapa layanan rekomendasi rusun yang dapat anda nikmati bersama orang tersayang' },
        { title: 'Asrama Haji', serviceTag:'Layanan baru', body: 'Butuh hunian ? Kami menyediakan beberapa layanan rekomendasi rusun yang dapat anda nikmati bersama orang tersayang' },
        { title: 'Rusun Baru', serviceTag:'Layanan baru', body: 'Butuh hunian ? Kami menyediakan beberapa layanan rekomendasi rusun yang dapat anda nikmati bersama orang tersayang' },
        { title: 'Wisata', serviceTag:'Layanan baru', body: 'Butuh hunian ? Kami menyediakan beberapa layanan rekomendasi rusun yang dapat anda nikmati bersama orang tersayang' },
        { title: 'Fasilitas Umum', serviceTag:'Layanan baru', body: 'Butuh hunian ? Kami menyediakan beberapa layanan rekomendasi rusun yang dapat anda nikmati bersama orang tersayang' },
        { title: 'Fasilitas Umum', serviceTag:'Layanan baru', body: 'Butuh hunian ? Kami menyediakan beberapa layanan rekomendasi rusun yang dapat anda nikmati bersama orang tersayang' }
      ]
    }
  }
}
</script>